 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Overpass+Mono&display=swap');

h2 {
  padding:0;
  margin: 4px;
}

.swagger-ui {
  width:80%;
  margin:auto;
}

.swagger-ui,
.swagger-ui .info .title,
.swagger-ui .opblock-tag,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table,
.swagger-ui .tab li,
.swagger-ui label,
.swagger-ui .response-col_status,
.swagger-ui .opblock .opblock-section-header > label,
.swagger-ui .btn,
.swagger-ui .parameter__name,
.swagger-ui .opblock .opblock-summary-method,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-description,
.swagger-ui table thead tr td,
.swagger-ui select,
.swagger-ui table thead tr th {
  font-family: 'Open Sans', sans-serif;
}

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock-body pre.microlight,
.swagger-ui .code, .swagger-ui code,
.swagger-ui .parameter__type,
.swagger-ui .parameter__extension,
.swagger-ui .parameter__in,
.swagger-ui .opblock .opblock-summary-path__deprecated {
  font-family: 'Overpass Mono', monospace;
}

.swagger-ui .topbar,
.swagger-ui .base-url,
.swagger-ui .info .title small,
.swagger-ui .opblock .opblock-section-header .opblock-title,
.swagger-ui .body-param-options,
.swagger-ui .opblock .opblock-section-header > label,
.swagger-ui .copy-to-clipboard,
.swagger-ui .download-contents,
.swagger-ui small .version {
  display: none;
}

.swagger-ui .opblock-tag:hover { background: none; }
.swagger-ui .scheme-container,
.swagger-ui .opblock .opblock-section-header {
  background: none;
  box-shadow: none;
}

.curl {
  padding: 1em !important;
}
